@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    Retro Videoz brings you the latest in cult and genre films where you can rate, buy, and even sell your own collection of vhs tapes, dvds, blurays, and 4k films. Our goal is to preserve the very best of the obscure, weird, and downright wacky for new audiences to discover and enjoy.
</p>
