@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Retro Videoz</h1>
    <p class="lead">
        Retro Videoz brings you the latest in cult and genre films where you can rate, buy, and even sell your own collection of vhs tapes, dvds, blurays, and 4k films. Our goal is to preserve the very best of the obscure, weird, and downright wacky films for new audiences to discover and enjoy.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Reviews!</h2>
        <p>
            Write and post reviews of your favorite titles in our inventory.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Access to a Vast Array of Titles</h2>
        <p>We have everything in our collection. From horror to sci-fi to action and comedy.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon!</h2>
        <p>Stay tuned! Check back for more details!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<style>
    .p {
        font-size: 20px;
    }
</style>